# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/
env/

# Build artifacts
build/
dist/
*.spec

# Windows
Thumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/

# Logs
*.log
